@charset "UTF-8";

.primary-image-container{
  width: 100%; 
  height: 750px; 
  background: -webkit-linear-gradient(top, #DC7633, #EDBB99);
  background: linear-gradient(to bottom, #DC7633, #EDBB99);
   
}

.primary-image-container2{
  width: 100%;  
  padding: 5em 0; 
}

.primary-image-container2 .headline{
  color: #333; 
}
.text-container2{
  margin: 0 auto; 
  width: 90%; 
  position: relative; 
  text-align: center;
  top: 10%; 
}

.subline-text{
  width: 95%; 
  font-family: "helvetica neue", helvetica, verdana, "sans serif";
  color: #000; 
  text-align: center;
  font-size: 18px; 
  margin: 0px; 
  font-weight: 200; 
  margin: 0 auto; 
  line-height: 1.50em; 
}

.gmstem{
  position: relative;
  width: 40%; 
  
}
/* Content styling for opening label head "Our Story"*/
.labelhead {
   font-size: 1.75em; 
   font-family: "helvetica neue", helvetica, verdana, "sans serif";  
   color: #B5D825; 
   font-weight: bold; 
   text-align: center;
}

/* Container for board member images */ 
.board {
    width:100%;
    overflow: hidden;
    text-align: center; 
    margin-bottom: 5%;  
}

/* This style divides images evenly within the container */
#board1{   
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-right: 5%;
  margin-bottom: 2.5em; 
}

/* Content for board members name */
.name{ 
 display: block;
 font-size: 100%;
 font-family: "helvetica neue", helvetica, verdana, "sans serif"; 
 color: #355F36; 
 font-weight: bold; 
}

/* Content for board members title */  
.title { 
  font-family: "helvetica neue", helvetica, verdana, "sans serif";  
  font-size: 100%;
  color: #B5D825;
  font-weight: bold;
}

/* Styles for "Board Member" section heading */
#boardheading { 
 font-size: 1.75em;
 font-family: "helvetica neue", helvetica, verdana, "sans serif";  
 font-weight: bold; 
 color: #333;
 text-align: center;  
 margin-bottom: 2.5em; 
}

 /* Container and style for responsive video frame */
#video{ 
  width:100%;
  position:relative;
  padding-bottom:60%;
  padding-top:60px;
  height:auto;
  overflow:hidden;
}

/* Postions video within container */
.video {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

 /* This style is for desktops and tablets with an min width of 800px */
@media only screen and (min-width: 800px) {

#video{ 
padding-bottom: 45.25%; 
}


/* Container for board member images */ 
.board {
  background-color: #FFFFFF;
  border-top: 2px solid #EBEBEB;
}

/* Styles for "Board Member" section heading */
#boardheading { 
 font-size: 225%;
}

} /* Closing bracket for desktop media screen */

