@charset "UTF-8";

.contact-container{
  position: relative;
  display: inline-block;
  background-color: #fff;
  width: 100%; 
  padding: 0em 0em; 
  padding-top: 3em; 
}

.contact-us{
  width: 100%;  
  border-radius: 0px 0px 0px 0px;  
  float: left; 
  height: 600px; 
  background-color: #B5D825;
  text-align: center;
  color: #333; 
  font-family: "helvetica neue", helvetica, verdana, "sans serif";
  margin-bottom: 3em; 
}

.contact-link a{
  text-decoration: none; 
  color: #333; 
  font-family: "helvetica neue", helvetica, verdana, "sans serif";
}
.request-info{
  width: 100%; 
  border-radius: 0px 0px 0px 0px;
  float: right;
  height: 600px; 
  background-color: #B5D825;

}

.contact-form #submit{
  width: 50%; 
}

.contact-headline{
  font-family: "helvetica neue", helvetica, verdana, "sans serif";
  color: #fff; 
  text-align: center;
  font-size: 2em; 
  font-weight: 500; 
  margin-bottom: .5em;
}

.contact-form{
  display: block;
  margin: 0 auto; 
  text-align: center;
}


.contact-form input{
  width: 80%; 
  font-size: 16px;
  font-family: "helvetica neue", helvetica, verdana, "sans serif";
  color: #000;
  font-weight: bold;
  padding: .5em 0;
  padding-left: .5em;
  border-radius: .2em;
  border: none;
}

.contact-form textarea{
  width: 80%; 
  height: 150px; 
  font-size: 16px;
  font-family: "helvetica neue", helvetica, verdana, "sans serif";
  color: #000;
  font-weight: bold;
  border-radius: .2em;
  border: none;
}




.primary-image-container{
  width: 100%; 
  height: 750px; 
  background: -webkit-linear-gradient(top, #305278 0%, #3d6087 40%, #7198c4 100%);
  background: linear-gradient(to bottom, #305278 0%, #3d6087 40%, #7198c4 100%);
}


.image1{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 250px; 
  top: 40%; 
}
/* Container and style for responsive video frame */
#video{ 
  width:100%;
  position:relative;
  padding-bottom:45.25%;
  padding-top:60px;
  height:auto;
  overflow:hidden;
}

/* Postions video within container */
.video {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;    
}


@media only screen and (min-width: 1024px) {

  .contact-us{
    width: 48%; 
    border-radius: 0px 25px 25px 0px; 
    margin-bottom: 0em; 
  }

  .request-info{
    width: 48%; 
    border-radius: 25px 0px 0px 25px;
  }

  .contact-container{
    padding: 3em 0em; 
  }

}

