<div id="subscribed" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content -->
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="modal-body">
        <h1>Thank you for Subscribing!</h1>
      </div>
    </div>
  </div>
</div>
