<!DOCTYPE html>
<html>

<head>
<title>Contact - GMSS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="css/template.css">
<link rel="stylesheet" type="text/css" href="css/contact.css">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>



<!-- Use any element to open/show the overlay navigation menu -->
<span class="hamburger" onclick="openNav()">☰</span>

<div class="primary-image-container">

  <div class="text-container">
  <h1 class="headline">Life will take you where you let it.</h1>
  <h3 class="subline">Connect with us<span class="white-dot">.</span></h3>
  </div>

  <img class="image1" src="images/iphone.png">

</div>


<div class="contact-container">

   <div class="contact-us">
   <h1 class="contact-headline">Contact us</h1>

    <h2 >Address: TBA <br> Los Angeles, California</h2>

    <div class="contact-link">
    <h2> <a  href="tel.323-599-6616">Phone: 323-599-6616</a><br>
    <a  href="mailto:info@gmstem.org">Email: info@gmstem.org</a></h2>
    </div>

   </div>


   <div class="request-info">
   <h1 class="contact-headline">Request Information</h1><br>

   <form class="contact-form">
      <input type="text" name="firstname" placeholder="Full Name"><br><br>

      <input type="tel" name="phone" placeholder="Phone"><br><br>

      <input type="text" name="email" placeholder="Email"><br><br>

      <textarea name="message" placeholder="Type message"></textarea><br><br><br>

      <input id="submit" type="submit" value="Submit">
  </form>
  </div>



</div>
















<div id="video" >
  <iframe class="video" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3139.8953781240098!2d-118.3090418026861!3d34.006827250153364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b7f98e0567c7%3A0x37b1dfa91c4f53f6!2s4259+S+Western+Ave%2C+Los+Angeles%2C+CA+90062!5e0!3m2!1sen!2sus!4v1483243855802"frameborder="0" allowfullscreen></iframe>
</div>




</body>
</html>
