<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Donations - GMSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/template.css">
    <link rel="stylesheet" type="text/css" href="css/donate.css">


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  </head>



<body >


<!-- Use any element to open/show the overlay navigation menu -->
<span class="hamburger" onclick="openNav()">☰</span>


<div class="primary-image-container">

  <div class="text-container">
  <h1 class="headline">Diversity starts here.</h1>
  <h3 class="subline">Make an impact<span class="white-dot">.</span> Be a part of our growth<span class="white-dot">.</span></h3>
  </div>

</div>


<div class="txtctnr">
<p class="text"> When you donate to <span class="gm ss">Great Minds STEM Society</span>, you join our cause of bringing diversity into the <span class="gm">STEM</span> industry. Your gift will have a direct impact on each students' <span class="gm">STEM </span> experience. <br><br> In addition to financial donations, <span class="gm ss"> Great Minds STEM Society </span> will happily accept laboratory equipment, dissection kits, lab coats and goggles, molecular model sets, computers, laptops, programming books, computer software, backpacks, and office supplies. Contact us for further details in relation to equipment donations. <p>
</div>



  <form name="frm" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">

    <div>
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="3V3MEMUPBJYNW">
      <button type="submit" class="mdln" id="btnn" >Make a Donation</button>
    </div>

  </form>




 </body>


</html>
