
<!-- Use any element to open/show the overlay navigation menu -->
<span class="hamburger" onclick="openNav()">☰</span>


<div class="primary-image-container green-bkg">
  <%if(!isLoggedIn) { %>
  <a href="/login"><h3 class="login">Log In</h3></a>
  <% } else { %>
    <a href="/logout"><h3 class="logout">Log Out</h3></a>
  <% } %>
  <div class="text-container">
  <h1 class="headline">Infuse your life with action.</h1>
  <h3 class="subline white">Create your future<span class="white-dot">.</span></h3>
  </div>

<img class="image1" src="images/hexane.png">

</div>

<div class="primary-image-container">

  <div class="text-container marginal-position">
  <h1 class="headline black">We nurture a <span class="green">STEM</span> community in which everyone achieves.</h1>
  </div>

</div>


<div id="video" >
      <iframe class="video" src="https://www.youtube.com/embed/ttz4Sr0tZFg" frameborder="0" allowfullscreen></iframe>
</div>


<div class="primary-image-container">

  <div class="text-container marginal-position">
  <h1 class="headline black">When given a great environment, <span class="green">Great Minds</span> are created.</h1>
  </div>

</div>


  <div class="imagelink">

          <div class="imagelink1">
              <a href="/programs#science"><img class="image" src="images/office1.png">
              <h2 class="imagelink-text">Science</h2></a>
          </div>

          <div class="imagelink1">
              <a href="/programs#technology"><img class="image" src="images/office2.png">
              <h2 class="imagelink-text">Technology</h2></a>
          </div>

          <div class="imagelink1">
              <a href="/programs#engineering"><img class="image" src="images/office3.png">
              <h2 class="imagelink-text">Engineering</h2></a>
          </div>

          <div class="imagelink1" id="imagelink2">
              <a href="/programs#math"><img class="image" src="images/office4.png">
              <h2 class="imagelink-text">Math</h2></a>
          </div>

    </div>


<div class="mobilelinks">

          <div class="imagelink1">
              <a href="programs.html#science"><img class="image" src="images/moffice1.png">
              <h2 class="imagelink-text">Science</h2></a>
          </div>

          <div class="imagelink1" id="imagelink2">
              <a href="programs.html#technology"><img class="image" src="images/moffice2.png">
              <h2 class="imagelink-text">Technology</h2></a>
          </div>

          <div class="imagelink1">
              <a href="programs.html#engineering"><img class="image" src="images/moffice3.png">
              <h2 class="imagelink-text">Engineering</h2></a>
          </div>

          <div class="imagelink1" id="imagelink2">
              <a href="programs.html#math"><img class="image" src="images/moffice4.png">
              <h2 class="imagelink-text">Math</h2></a>
          </div>

    </div>

<div class="primary-image-container">

  <div class="text-container marginal-position">
  <h1 class="headline black">Leading the evolution in <span class="green">STEM</span> education.</h1>
  </div>

</div>


<div class="cntr-shirt">
    <img class="shirt desktop-shirt" src="images/gmshirt.jpg">
    <img class="shirt mobile-shirt" src="images/gmshirt-md.jpg">

      <div id="txt-overlay">
        <h3 class="headers-margins white border">Original Edition</h3>
        <h1 class="headers-margins dark-green">Great Minds STEM <span class="white">SHIRT</span></h1>
        <h3 class="headers-margins white purchase-border">Purchase</h3>
      </div>
</div>

<div class="primary-stem-container">

<div class="stem-container">

    <div class="stem-left1">
      <img class="stem-image" src="images/science.jpg">
    </div>

    <div class="stem-right1">

        <div class="content-container">
        <h1 class="heading"> Great Minds STEM Society</h1>
        <p class="text-box"> Great Minds STEM Society is a non-profit organization focused on providing K-12 students with hands-on experiences in Science, Technology, Engineering, and Math (STEM) fields. We offer after-school services, weekend workshops, summer and winter STEM camps.</p>
        </div>

    </div>

</div>

<div class="stem-container">


    <div class="stem-right2">
    <img class="stem-image1" src="images/science1.jpg">
    </div>

    <div class="stem-left2">

        <div class="content-container">
        <h1 class="heading"> What we do? </h1>
        <p class="text-box"> We teach students how to build web applications through various programming languages, how to conduct realistic chemistry experiments with organic reactions, how to build and program robots using engineering techniques, and offer intensive mathematics preparation.</p>
        </div>

    </div>



</div>


<div class="stem-container">

    <div class="stem-left3">
    <img class="stem-image" src="images/science.jpg">
    </div>

    <div class="stem-right3">

        <div class="content-container">
        <h1 class="heading"> How is it done?</h1>
        <p class="text-box"> Students will be taught by a combination of industry professionals, college students, and volunteer teachers. We have developed a curriculum that covers detailed areas of STEM and will be used to measure the individual success of each student. </p>
        </div>

    </div>

</div>

</div>


<div class="primary-image-container">

  <div class="text-container marginal-position">
  <h1 class="headline black">Explore something new with <br>Great Minds <span class="green">STEM</span> Society.</h1>
  <%if(!isLoggedIn) { %>
  <a href="/signup"><h2 class="marginal-subline"> Join us</h2></a>
  <% } %>
  </div>

</div>

<%if(isLoggedIn) { %>
<h2><%= currentUser.local%></h2>
<h2><%= currentUser.local.firstname %></h2>
<% } else { %>
<div class="text-center col-md-8 col-md-offset-2">
    <h1><span class="fa fa-lock"></span>Welcome to Gmstem</h1>
    <a href="/login" class="btn btn-default">Login</a>
    <a href="/signup" class="btn btn-default">Signup</a>
</div>

<% } %>
<%if(isLoggedIn) { %>
<h3><a href="/profile">Profile</a></h3>
<% } %>
