<!DOCTYPE html>
<html>

<head>
<title>Programs - GMSS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="css/template.css">
<link rel="stylesheet" type="text/css" href="css/programs.css">


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>

<body>


<!-- Use any element to open/show the overlay navigation menu -->
<span class="hamburger" onclick="openNav()">☰</span>




<div class="science1">

  <div class="text-container">
  <h1 class="headline">Life is easier with a Great Mind.</h1>
  <h3 class="subline">Explore the possibilities<span class="white-dot">.</span></h3>
  </div>

  <img class="image1" src="images/brain.png">

</div>

<div class="science2">

   <div class="text-container">
  <h1 class="headline">Conduct your own chemical experiments.</h1>
  <h3 class="subline-text">Chemistry is the branch of physical science that studies the composition and properties of different elements. Studying chemistry with Great Minds STEM Society involves lots of dazzling and explosive lab work in which you will be able to collaborate with your fellow students to perform exciting hands-on experiments.</h3>
  </div>

  <img class="image2" src="images/methane.png">

</div>

<div class="science3">

  <div class="text-container">
  <h1 class="headline">Biology is a blast to learn about.</h1>
  <h3 class="subline-text">Biology is the natural science that involves the study of life and living organisms, including their physical and chemical structure, function, development and evolution. This is an extremely hands-on field, with a vibrant knowledge base spanning all of human history, biology is a blast to learn about through interactive lessons with Great Minds STEM Society</h3>
  </div>

  <img class="image2 image3" src="images/dna.png">

 </div>

<div class="science4">

  <div class="text-container">
  <h1 class="headline">Craft user friendly websites.</h1>
  <h3 class="subline-text">Every individual and organization benefits from having a strategic online presence. With web development talent, you can create elegant websites to captivate an entire audience. Great Minds STEM Society will teach you the diverse array of tools you need to visualize, build, and create your own experience in this field of technology.</h3>
  </div>

  <img class="image2" src="images/web.png">

 </div>

<div class="science5">

  <div class="text-container">
  <h1 class="headline">Math makes people happy.</h1>
  <h3 class="subline-text"> Mathematic instruction at Great Minds STEM Society comprises of algebra, geometry, and trigonometry. Having a mastery of skills in mathematics truly opens up the world to be conquered by your comprehension, and Great Minds STEM Society will help you accomplish this understanding every interactive step of the way.</h3>
  </div>

  <img class="image2" src="images/intmath.png">
 </div>

<div class="science6">

  <div class="text-container">
  <h1 class="headline">Create a future in robotics.</h1>
  <h3 class="subline-text">Creating and programming robots requires strategic problem-solving, working collaboratively, and plenty of creativity. Informative, hands-on workshops with other passionate students is how Great Minds STEM Society promises to teach you, so that your robots are forged with fun and can transform the world.</h3>
  </div>

  <img class="image2 robot" src="images/robot.png">


 </div>

<div class="science7">

  <div class="text-container">
  <h1 class="headline">The world seen through code.</h1>
  <h3 class="subline-text">Would you like to join the technological revolution powered by code? Someone who knows how to code reshapes reality by bringing new, powerful inventions to fruition. Through stimulating, firsthand instruction with Great Minds STEM Society, the only limit to changing tomorrow through coding is your imagination.</h3>
  </div>

  <img class="image2 code" src="images/code.png">



 </div>

 <div class="science8">

  <div class="text-container marginal-position">
  <h1 class="headline marginal-headline">We admire curiosity.</h1>
  <h2 class="marginal-subline"> Join us</h2>
  </div>

 </div>












</body>
</html>
