<!DOCTYPE html>
<html>

<head>
<title>Spotlight - GMSS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="css/template.css">
<link rel="stylesheet" type="text/css" href="css/spotlight.css">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>

<body>



<!-- Use any element to open/show the overlay navigation menu -->
<span class="hamburger" onclick="openNav()">☰</span>

   <div class="primary-image-container">

  <div class="text-container">
  <h1 class="headline">To be young and gifted.</h1>
  <h3 class="subline">We appreciate your talent.</h3>
  </div>

</div>

<div class="ctnrcontent">

  <div class="ctnrimage">
    <img class="articleimage" src="images/laboratory.jpg">
    </div>

    <p class="articlelabel"> Great Minds Open Doors to Great Futures </p>

    <p class="date"> June 5, 2017 <span class="org"> Great Minds STEM Society</span></p>


        <div class="articletext">

        <p>Dear Participants: <br> <br> Welcome. I created Great Minds STEM Society for students who are unable to reach their full academic potential due to lack of educational opportunities. Great Minds does focus on STEM subjects, but we are not going to ignore your other academic and personal needs. As someone who was born and raised in South Los Angeles, I know your struggle, I know your needs, I founded this organization with all of you in mind. I simply want to limit whatever struggle you are facing academically by giving you something I never had which is a mentor, someone who will guide you through every step of the way and genuinely cares about where you are headed in life. All of us are capable of being so much more than we realize, it’s just that sometimes we need a guide or an influential person who can identify our potential. I am here to lead you to a greater path one without judgement and ridicule. This organization is for you to learn freely whether you want to listen your favorite genre of music while conducting experiments or feel that need to dance, play games, or take multiple breaks. Your method of learning is ultimately up to you, all I ask is that you get the job done.
 </p>

        <p>Great Minds STEM Society is a family environment, if someone needs help we lend our hands out to support them in any capacity we can, all participants will be held to that same standard of helping their peers. Our focus is to be better as a whole, if one person fails we all fail, but if we work together towards the same goal I promise you we will all succeed. I believe that you and I can achieve great things together, you are as important to me as I am to you.
        </p>

        <p>I look forward to forming genuine relationships with all of you. I feel that this is something truly special in the making and I hope you feel the same. Great Minds STEM Society was established for great people like you.
        </p>

        <p>Sincerely, <br><br> Brian Everitt <br> Founder</p>
        </div>

</div>

<div class="ctnrcontent">

  <div class="ctnrimage">
    <img class="articleimage" src="images/laboratory.jpg">
    </div>

    <p class="articlelabel"> Great Minds Open Doors to Great Futures </p>

    <p class="date"> June 5, 2017 <span class="org"> Great Minds STEM Society</span></p>

        <div class="articletext">

        <p>Dear Parents: <br> <br> Welcome. We look forward to working with you and your children, as you are a vital part of their success. Ongoing research shows that family engagement improves students’ educational achievement. Students with engaged families earn higher grades and test scores, have increased social skills, and improved behavior. Setting goals with your children and fostering achievement of those goals is an important way to increase your involvement. While we will be committed to the academic success of your children, it is extremely important that you reinforce the importance of their education and encourage them to be better students. Most importantly, hold them accountable when they are not satisfactorily meeting academic benchmarks set forth by you and/or their school.</p>

        <p>As the founder of this organization, I will ensure that your child has every opportunity for success. They will be presented with new, innovative material and at times they will be challenged academically to expand their level of understanding. Our program will primarily focus on Science, Technology, Engineering, and Math (STEM) subjects. Our goal is to provide STEM exposure to your child, as we believe preparing students at a young age for a future in STEM is essential. It is important to note that there will be an influx of jobs within these fields over the next few decades. So, our purpose is to make sure your child and many others will be prepared for this wave of opportunity. There is no reason why your child should be left behind or out of these fields in the future.
        </p>

        <p>As an organization, we truly hope that we can establish a strong genuine relationship with you and your child to ensure their success in our program. We do realize that there is a lack of affordable tutoring facilities and technology centers within the City of Inglewood and surrounding areas. This severely limits opportunities for your child to develop life-long STEM practices and mastery of necessary skills. We aim to change that with the establishment of Great Minds STEM Society.
        </p>

        <p>Again, we look forward to working with you and your child. The future success of your child is a shared responsibility that must be constantly monitored.</p>

        <p>Sincerely, <br><br> Brian Everitt <br> Founder</p>

        </div>

</div>






</body>
</html>
